* {
  font-family: "Arial";
}

p, span {
  font-size: 0.4cm;
  line-height: 0.55cm;
}

.bold {
  font-weight: bold;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 21cm;
}

div.header:not(.logo) {
  padding-top: 0.8cm;
}

div.header h2 {
  margin-top: 0;
}

div.header div.left, div.header div.right {
  width: 5cm;
}

div.header div.left h2 {
  margin-left: 0.5cm;
  text-align: left;
}

div.header div.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7cm;
}

div.header div.middle img {
  width: 7cm;
}

div.header div.right h2 {
  margin-right: 0.5cm;
  text-align: right;
}

div.contact {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 6cm;
  margin-right: 0.5cm;
  text-align: right;
}

div.title {
  text-align: center;
  text-decoration: underline;
}

div.lore {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 5cm;
}

div.lore p {
  margin-top: 0;
  width: 18cm;
  text-align: justify;
}

div.times {
  margin-left: 2.3cm;
}

tr.tripHeader {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

div.times table tr td:nth-child(1) {
  width: 7cm;
}

div.ack {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1cm;
}

div.ack p {
  margin-top: 0;
  width: 18cm;
  text-align: justify;
}

div.ack h4 {
  margin: 0;
  width: 18cm;
}
